## Подготовка окружения

In [ ]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 10.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package cron.
(Reading database ... 155335 files and directories currently installed.)
Preparing to unpack .../0-cron_3.0pl1-128.1ubuntu1_amd64.deb ...
Unpacking cron (3.0pl1-128.1ubuntu1) ...
Selecting previously unselected package logrotate.
Preparing to unpack .../1-logrotate_3.11.0-0.1ubuntu1_amd64.deb ...
Unpacking logrotate (3.11.0-0.1ubuntu1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../2-netbase_5.4_all.deb ...
Unpacking netbase (5.4) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../3-postgresql-client-common_190ubuntu0.1_all.deb ...
Unpacking postgresql-client-common (190ubuntu0.1) ...
Selecting previously unselected package postgresql-client-10.
Preparing to unpack .../4-postgresql-client-10_10.19-0ubuntu0.18.04.1_amd64.deb ...
Unpacking postgresql-client-10 (10.19-0ubuntu0.18.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../5-ssl-cert_1.0.39_all.deb ...
Unpacking ssl-cert (1.0.39) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../6-postgresql-common_190ubuntu0.1_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (190ubuntu0.1) ...
Selecting previously unselected package postgresql-10.
Preparing to unpack .../7-postgresql-10_10.19-0ubuntu0.18.04.1_amd64.deb ...
Unpacking postgresql-10 (10.19-0ubuntu0.18.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../8-postgresql_10+190ubuntu0.1_all.deb ...
Unpacking postgresql (10+190ubuntu0.1) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../9-sysstat_11.6.1-1ubuntu0.1_amd64.deb ...
Unpacking sysstat (11.6.1-1ubuntu0.1) ...
Setting up sysstat (11.6.1-1ubuntu0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up ssl-cert (1.0.39) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Setting up cron (3.0pl1-128.1ubuntu1) ...
Adding group `crontab' (GID 110) ...
Done.
Created symlink /etc/systemd/system/multi-user.target.wants/cron.service → /lib/systemd/system/cron.service.
update-rc.d: warning: start and stop actions are no longer supported; falling back to defaults
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up logrotate (3.11.0-0.1ubuntu1) ...
Setting up netbase (5.4) ...
Setting up postgresql-client-common (190ubuntu0.1) ...
Setting up postgresql-common (190ubuntu0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-client-10 (10.19-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/share/postgresql/10/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-10 (10.19-0ubuntu0.18.04.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 10/main ...
/usr/lib/postgresql/10/bin/initdb -D /var/lib/postgresql/10/main --auth-local peer --auth-host md5
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/10/main ... ok
creating subdirectories ... ok
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default timezone ... Etc/UTC
selecting dynamic shared memory implementation ... posix
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok

Success. You can now start the database server using:

    /usr/lib/postgresql/10/bin/pg_ctl -D /var/lib/postgresql/10/main -l logfile start

Ver Cluster Port Status Owner    Data directory              Log file
10  main    5432 down   postgres /var/lib/postgresql/10/main /var/log/postgresql/postgresql-10-main.log
update-alternatives: using /usr/share/postgresql/10/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql (10+190ubuntu0.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for systemd (237-3ubuntu10.53) ...
 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE

In [ ]:
# подключаемся к локальной бд
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
# функция для отправки запроса к бд
def select(sql):
    return pd.read_sql(sql,con)

In [ ]:
import pandas as pd
import numpy as np

## Создание семпла

In [ ]:
t = pd.DataFrame({'uid':[1,1,1,1,1,2,2,2,2,2,2,2,2,1,3,1,3,1],
    'start_dttm':['17.01.2018 11:34','17.01.2018 11:43','17.01.2018 12:25','17.01.2018 16:48','17.01.2018 17:16','17.01.2018 17:22','17.01.2018 17:26','17.01.2018 18:38','17.01.2018 18:39','17.01.2018 19:01','18.01.2022 19:00', '18.02.2022 19:00', '19.02.2022 19:00', '20.02.2022 19:00','21.02.2022 19:00', '21.02.2022 19:10', '21.02.2022 19:11', '20.02.2022 19:06'  ],              
    'stop_dttm':['17.01.2018 11:43','17.01.2018 11:59','17.01.2018 12:47','17.01.2018 17:11','17.01.2018 17:20','17.01.2018 17:40','17.01.2018 17:40','17.01.2018 18:41','17.01.2018 18:58','17.01.2018 19:12','18.01.2022 19:02', '18.02.2022 19:02', '19.02.2022 19:03', '20.02.2022 19:05','21.02.2022 19:01', '21.02.2022 19:13','21.02.2022 19:15', '20.02.2022 19:09'  ],
                  'start_station':[53,87,173,180,54,155,157,162,161,53,55,66, 55,16,10,157,82, 10],
                    'stop_station':[50,82,179,172,53,161,161,161,155,50,56,50,50,82,82, 82,10, 82]})
t['start_dttm']=pd.to_datetime(t['start_dttm'], format='%d.%m.%Y %H:%M')
t['stop_dttm']=pd.to_datetime(t['stop_dttm'], format='%d.%m.%Y %H:%M')

In [ ]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uid            18 non-null     int64
 1   start_dttm     18 non-null     datetime64[ns]
 2   stop_dttm      18 non-null     datetime64[ns]
 3   start_station  18 non-null     int64
 4   stop_station   18 non-null     int64
dtypes: datetime64[ns](2), int64(3)
memory usage: 848.0 bytes

In [ ]:
# отправляем наш файл с предыдущего этапа в локальную бд
t.to_sql('t1',con,index=False,if_exists='replace',method='multi')

## Взгляд на фрейм

In [ ]:
# пишем запрос в тройных ковычках
sql = '''select *
 from t1 '''

In [ ]:
# отправляем запрос к бд
select(sql)

    uid          start_dttm           stop_dttm  start_station  stop_station
0     1 2018-01-17 11:34:00 2018-01-17 11:43:00             53            50
1     1 2018-01-17 11:43:00 2018-01-17 11:59:00             87            82
2     1 2018-01-17 12:25:00 2018-01-17 12:47:00            173           179
3     1 2018-01-17 16:48:00 2018-01-17 17:11:00            180           172
4     1 2018-01-17 17:16:00 2018-01-17 17:20:00             54            53
5     2 2018-01-17 17:22:00 2018-01-17 17:40:00            155           161
6     2 2018-01-17 17:26:00 2018-01-17 17:40:00            157           161
7     2 2018-01-17 18:38:00 2018-01-17 18:41:00            162           161
8     2 2018-01-17 18:39:00 2018-01-17 18:58:00            161           155
9     2 2018-01-17 19:01:00 2018-01-17 19:12:00             53            50
10    2 2022-01-18 19:00:00 2022-01-18 19:02:00             55            56
11    2 2022-02-18 19:00:00 2022-02-18 19:02:00             66            50
12    2 2022-02-19 19:00:00 2022-02-19 19:02:00             55            50
13    1 2022-02-20 19:00:00 2022-02-20 19:05:00             16            82
14    3 2022-02-21 19:00:00 2022-02-21 19:01:00             10            82
15    1 2022-02-21 19:10:00 2022-02-21 19:13:00            157            82
16    3 2022-02-21 19:11:00 2022-02-21 19:15:00             82            10
17    1 2022-02-20 19:06:00 2022-02-20 19:09:00             10            82

## Решения задач

####1.	Необходимо найти среднюю (моду) продолжительность сессии по всем пользователям, которые подключались к WI-FI более 50 раз за последние полгода.

In [ ]:
sql =   '''
  WITH NAME AS
  ( SELECT  *, EXTRACT(Minute FROM (stop_dttm-start_dttm)) AS DIFF
  FROM t1
  where start_dttm >= current_timestamp - interval '6 month')
          
  SELECT mode() WITHIN GROUP (ORDER BY diff ) AS modal_value    
  FROM 
  ( SELECT *, COUNT(UID) OVER (PARTITION BY UID) as count
  FROM NAME) S
  WHERE COUNT>=2   --тут поменять на 50, просто тестировал с единицой
  '''

In [ ]:
select(sql)

   modal_value
0          3.0

####2.	Необходимо выделить ТОП-10 самых посещаемых станций.

In [ ]:
sql =  '''
   with NAME as 
  (SELECT start_station as station, count(start_station) as count
  from t1
  group by start_station
  union all
  SELECT stop_station as station, count(stop_station) as count
  from t1
  group by stop_station)
 
  select station, cast(sum(count) AS INTEGER) as count
  from NAME
  group by station
  order by count desc
  limit 10
  '''

In [ ]:
select(sql)

   station  count
0       82      6
1       50      4
2      161      4
3       10      3
4       53      3
5      157      2
6       55      2
7      155      2
8       66      1
9       16      1

#### 3.	Необходимо найти все дни, в которые не было ни одной WI-FI сессии.

In [ ]:
sql='''       with NAME as
              (select distinct date(start_dttm) as date from t1)
              
              select *
              from (select date + interval '1 day' as first_date, lead(date) over (order by date asc) -  interval '1 day'  as last_date, (lead(date) over (order by date asc)-date) as diff
              from NAME) s
              where diff<>1
              '''

In [ ]:
# вывожу интервал дат в к-е не было подключений , т.е. с 18 января 2018 по 17 января 2022 и тд
select(sql)

  first_date  last_date  diff
0 2018-01-18 2022-01-17  1462
1 2022-01-19 2022-02-17    31

#### 4.	Необходимо найти все дни, в которые количество WI-FI сессий было в 2 раза больше, чем в среднем по всем дням.

In [ ]:
sql='''     with NAME as 
            (select distinct date,
             count__per_day
            from  
            (select *, date(start_dttm)
             , count(date(start_dttm)) over (partition by date(start_dttm)) as count__per_day
            from t1) s)

            select date, count__per_day
            from name
            where count__per_day >(select 2*avg(count__per_day) as count__per_day from NAME)
            '''

In [ ]:
select(sql)

         date  count__per_day
0  2018-01-17              10

#### 5.	Необходимо выделить все сессии, которые начинаются раньше, чем закончилась предшествующая сессия в рамках каждого пользователя.

In [ ]:
sql=''' 
  with NAME as 
  (select uid, start_dttm, stop_dttm , 
  lag(stop_dttm) over (partition by UID) stop_dttm_lag
  from t1)

  select uid, start_dttm, stop_dttm_lag
  from NAME
  where start_dttm<stop_dttm_lag
  '''

In [ ]:
select(sql)

   uid          start_dttm       stop_dttm_lag
0    1 2022-02-20 19:06:00 2022-02-21 19:13:00
1    2 2018-01-17 17:26:00 2022-02-19 19:03:00
2    2 2018-01-17 17:22:00 2018-01-17 18:41:00
3    3 2022-02-21 19:00:00 2022-02-21 19:15:00

#### 6.	Необходимо найти для каждого пользователя станцию, на которой он чаще всего заканчивает свой день.

In [ ]:
sql=''' 
   with NAME as(
    select 
    *, 
    MAX(stop_dttm) over (partition by uid, date(stop_dttm)) as max_date from t1), -- находим крайнюю дату в рамках пользователя и одноо дня 
  
    NAME1 as
   (
    select 
    *, 
    COUNT(stop_station) over (partition by UID, stop_station) as count  from name -- находим кол-во посещений станции накладыввай ограничение что дата=крайней дате
    where stop_dttm=max_date)
            
    select distinct uid, stop_station, count 
    from (select *, rank() over (partition by uid order by count desc )  from name1) s --тут ранжируем
    where rank=1 
    order by uid     
    '''

In [ ]:
#Вывод 
select(sql)

   uid  stop_station  count
0    1            82      2
1    2            50      3
2    3            10      1

#### 7.	Необходимо найти всех пользователей, которые за последние 3 месяца использовали станции 50 или 161 каждый день не менее 1 раза в сутки.

In [ ]:

sql = ''' 
  with NAME as --во вложенном собираем станции и даты 
  (select uid, start_dttm as dt, start_station as station
  from t1
  where start_dttm >= current_timestamp - interval '3 month' and (start_station=161 or start_station=50) 
    
  union all

  select uid, stop_dttm as dt, stop_station as station
  from t1
  where stop_dttm >= current_timestamp - interval '3 month' and (stop_station=161 or stop_station=50)
  order by uid, dt)

  select uid, station, dif_btwn_day
  from
  (select *, count(station) over (partition by station, date(dt), uid) as cnt_per_day, -- кол-во станций на дату по ид, но по сути фильтр нам не нужен, тк если станция есть то она уже используется как минимум 1 раз в сутки
  lead(date(dt)) over (partition by uid order by dt) as next_day_per_id, -- след дата в рамках ид
  ((lead(date(dt)) over (partition by uid order by dt))-date(dt)) as dif_btwn_day -- разница межу след датой операции и текущей
  from NAME) s
  where dif_btwn_day=1    -- а тут уже фильтруем по тем кто захдил каждый день 


'''

In [ ]:
select(sql)

   uid  station  dif_btwn_day
0    2       50             1

#### 8.	Необходимо склеить в одну все подряд идущие сессии, интервал между которыми менее 25 минут.

In [ ]:
sql='''
with NAME as( 
select * 
, coalesce(extract(epoch from lead(start_dttm) over(partition by uid order by start_dttm)- stop_dttm) / 60, 0) as diff  -- тут ищим разницу, чcлед кейс берем след дату если разница<25 
, coalesce(case when coalesce(extract(epoch from lead(start_dttm) over(partition by uid order by start_dttm)- stop_dttm) / 60, 0) < 25 then lead(stop_dttm) over(partition by uid order by stop_dttm) else stop_dttm end, stop_dttm) as stop_dt 
from t1), 
 
NAME1 as(                                        -- ранжируем по новой последней дате 
select * 
, dense_rank() over(order by stop_dt) as rnk 
from NAME),
 

NAME2 as( 
select uid, MIN(start_dttm) start_dttm, MAX(stop_dt) stop_dt -- находим мин нач дату и макс конечную в рамках ид и ранга
from NAME1 
group by uid, rnk 
order by uid, start_dttm), 
 
 
NAME3 as ( 
select * 
, case when stop_dt > lead(start_dttm) over(partition by uid order by start_dttm) then lead(stop_dt) over(partition by uid order by stop_dt) else stop_dt end as stt  -- сдигаем дату
from NAME2)

select uid, MIN(start_dttm) start_dttm, MAX(stop_dt) stop_dttm   -- мин среди начальных дат и макс среди конечнх в рамках ид и сдвига(dtt)
from NAME3 
group by uid, stt 
order by uid, start_dttm
'''

In [ ]:
select(sql)

    uid          start_dttm           stop_dttm
0     1 2018-01-17 11:34:00 2018-01-17 11:59:00
1     1 2018-01-17 12:25:00 2018-01-17 12:47:00
2     1 2018-01-17 16:48:00 2018-01-17 17:20:00
3     1 2022-02-20 19:00:00 2022-02-20 19:09:00
4     1 2022-02-21 19:10:00 2022-02-21 19:13:00
5     2 2018-01-17 17:22:00 2018-01-17 17:40:00
6     2 2018-01-17 18:38:00 2018-01-17 19:12:00
7     2 2022-01-18 19:00:00 2022-01-18 19:02:00
8     2 2022-02-18 19:00:00 2022-02-18 19:02:00
9     2 2022-02-19 19:00:00 2022-02-19 19:03:00
10    3 2022-02-21 19:00:00 2022-02-21 19:15:00